body {
  background: #372843;
  color: #e98f54;
  min-width: 100%;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
/* ================== */
/* Login */
/* ================== */
.placeholder {
  color: #000;
}
.login {
  min-height: 85vh;
  background-color: green;
}
form {
  color: #fff;
}

.bg-image {
  /* width: 100%; */
  background-image: url("/static/img/sof.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 575px) {
  .bg-image {
    min-height: auto;
  }
}

.login-heading {
  font-weight: 300;
}

/* ================== */
/* REGISTER */
/* ================== */

.card-img-left {
  width: 100%;
  min-height: 100%;
  background-image: url("/static/img/tog.png");
  background-size: cover;
  background-position: center;
}

.btn-google,
.btn-facebook {
  color: #372843 !important;
  background-color: #e98f54;
}

/* .btn-facebook {
  color: white !important;
  background-color: #3b5998;
} */
/* #372843
#6C6272
#8A736B
#744944
#E98F54



#362843
#352743 */
