{% extends 'main.html' %} {% load static %} {% block content %}
    <div class="container bg-dark">
      <div class="card mb-3 my-5">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{% static '/img/sof.jpg' %}" class="img-fluid" alt="..." />
          </div>
          <div class="col-md-6 d-flex align-items-center my-5">
            <div class="card-body">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <p class="card-text">
                 <!-- Sign In Form -->
              <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-floating mb-3 text-light">{{form.as_p}}</div>

                <div class="d-grid">
                  <button
                    class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                    type="submit"
                  >
                    Sign in
                  </button>
                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}"
                      >Forgot password?</a
                    >
                  </div>
                </div>
              </form>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
